@import './scss/variables';
@import './scss/utilities';

@import './scss/header';
@import './scss/hero';
@import './scss/quienes-somos';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;

    a {
        text-decoration: none;
    }
}