@import './scss/variables';
@import './scss/utilities';

@import './scss/header';
@import './scss/hero';
@import './scss/quienes-somos';
@import './scss/servicios';
@import './scss/nuestro-equipo';
@import './scss/contacto';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    overflow-x: hidden;

    a {
        text-decoration: none;
    }
}