@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Poppins:400,700&display=swap');

$font-body: 'Noto Sans', sans-serif;
$font-head: 'Poppins', sans-serif;

$black: #000;
$dark: #1b1d1f;
$gray: #515151;
$blue: #77c5e8;
